<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>dev.cockpit.terminal.local</string>
  <key>ProgramArguments</key>
  <array>
    <string>__EXECUTABLE__</string>
    <string>--keeper-executable</string>
    <string>__KEEPER_EXECUTABLE__</string>
    <string>--runtime-directory</string>
    <string>__RUNTIME_DIRECTORY__</string>
  </array>
  <key>MachServices</key>
  <dict><key>dev.cockpit.terminal</key><true/></dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>COCKPIT_APPLICATION_SUPPORT_ROOT</key>
    <string>__APPLICATION_SUPPORT_ROOT__</string>
    <key>COCKPIT_INTEGRATION_MASTER_KEY</key>
    <string>__INTEGRATION_MASTER_KEY__</string>
  </dict>
  <key>KeepAlive</key><true/>
  <key>ProcessType</key><string>Interactive</string>
</dict></plist>
