<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>dev.cockpit.host.local</string>
  <key>ProgramArguments</key>
  <array><string>__EXECUTABLE__</string></array>
  <key>MachServices</key>
  <dict><key>dev.cockpit.host</key><true/></dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>COCKPIT_APPLICATION_SUPPORT_ROOT</key>
    <string>__APPLICATION_SUPPORT_ROOT__</string>
  </dict>
  <key>ProcessType</key><string>Interactive</string>
</dict></plist>
